In [ ]:
# Import modules
import pandas as pd
import numpy as np

pd.__version__

'2.3.2'

In [5]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [6]:
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
# Number of records in the dataset
records = len(df)
records

9704

In [9]:
# Number of fuel types in the dataset
fuel_types = df['fuel_type'].nunique()
fuel_types

2

In [10]:
# Number of missing columns
missing_columns = df.isnull().sum().gt(0).sum()
missing_columns

np.int64(4)

In [11]:
# maximum fuel efficiency of cars from Asia
max_fuel_efficiency = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
max_fuel_efficiency

np.float64(23.759122836520497)

In [12]:
# Median value of horsepower
median_horsepower = df['horsepower'].median()
median_horsepower

np.float64(149.0)

In [13]:
# Most frequent value of horsepower
mode_horsepower = df['horsepower'].mode()[0]
mode_horsepower

np.float64(152.0)

In [14]:
# Fill missing values in 'horsepower' column with the mode
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mode()[0])

In [15]:
# New median value of horsepower after filling missing values
new_median_horsepower = df['horsepower'].median()
new_median_horsepower

np.float64(152.0)

In [16]:
# Sum of Weights
new_df = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)

X = new_df.to_numpy()

XTX = np.dot(X.T, X)

XTX_inv = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

w = np.dot(np.dot(XTX_inv, X.T), y)

result = w.sum()

result

np.float64(0.5187709081074016)